/* Light Theme */
pre { line-height: 125%; }
td.linenos .normal { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #666666; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #f0f0f0; }
.codehilite .c { color: #60A0B0; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #F00 } /* Error */
.codehilite .k { color: #007020; font-weight: bold } /* Keyword */
.codehilite .o { color: #666 } /* Operator */
.codehilite .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #007020 } /* Comment.Preproc */
.codehilite .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #F00 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888 } /* Generic.Output */
.codehilite .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #04D } /* Generic.Traceback */
.codehilite .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #007020 } /* Keyword.Pseudo */
.codehilite .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #902000 } /* Keyword.Type */
.codehilite .m { color: #40A070 } /* Literal.Number */
.codehilite .s { color: #4070A0 } /* Literal.String */
.codehilite .na { color: #4070A0 } /* Name.Attribute */
.codehilite .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
.codehilite .no { color: #60ADD5 } /* Name.Constant */
.codehilite .nd { color: #555; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #D55537; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #007020 } /* Name.Exception */
.codehilite .nf { color: #06287E } /* Name.Function */
.codehilite .nl { color: #002070; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #062873; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #BB60D5 } /* Name.Variable */
.codehilite .ow { color: #007020; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #BBB } /* Text.Whitespace */
.codehilite .mb { color: #40A070 } /* Literal.Number.Bin */
.codehilite .mf { color: #40A070 } /* Literal.Number.Float */
.codehilite .mh { color: #40A070 } /* Literal.Number.Hex */
.codehilite .mi { color: #40A070 } /* Literal.Number.Integer */
.codehilite .mo { color: #40A070 } /* Literal.Number.Oct */
.codehilite .sa { color: #4070A0 } /* Literal.String.Affix */
.codehilite .sb { color: #4070A0 } /* Literal.String.Backtick */
.codehilite .sc { color: #4070A0 } /* Literal.String.Char */
.codehilite .dl { color: #4070A0 } /* Literal.String.Delimiter */
.codehilite .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #4070A0 } /* Literal.String.Double */
.codehilite .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #4070A0 } /* Literal.String.Heredoc */
.codehilite .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
.codehilite .sx { color: #C65D09 } /* Literal.String.Other */
.codehilite .sr { color: #235388 } /* Literal.String.Regex */
.codehilite .s1 { color: #4070A0 } /* Literal.String.Single */
.codehilite .ss { color: #517918 } /* Literal.String.Symbol */
.codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #06287E } /* Name.Function.Magic */
.codehilite .vc { color: #BB60D5 } /* Name.Variable.Class */
.codehilite .vg { color: #BB60D5 } /* Name.Variable.Global */
.codehilite .vi { color: #BB60D5 } /* Name.Variable.Instance */
.codehilite .vm { color: #BB60D5 } /* Name.Variable.Magic */
.codehilite .il { color: #40A070 } /* Literal.Number.Integer.Long */

/* Dark Theme */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.dark .codehilite .hll { background-color: #49483e }
.dark .codehilite { background: #272822; color: #F8F8F2 }
.dark .codehilite .c { color: #959077 } /* Comment */
.dark .codehilite .err { color: #ED007E; background-color: #1E0010 } /* Error */
.dark .codehilite .esc { color: #F8F8F2 } /* Escape */
.dark .codehilite .g { color: #F8F8F2 } /* Generic */
.dark .codehilite .k { color: #66D9EF } /* Keyword */
.dark .codehilite .l { color: #AE81FF } /* Literal */
.dark .codehilite .n { color: #F8F8F2 } /* Name */
.dark .codehilite .o { color: #FF4689 } /* Operator */
.dark .codehilite .x { color: #F8F8F2 } /* Other */
.dark .codehilite .p { color: #F8F8F2 } /* Punctuation */
.dark .codehilite .ch { color: #959077 } /* Comment.Hashbang */
.dark .codehilite .cm { color: #959077 } /* Comment.Multiline */
.dark .codehilite .cp { color: #959077 } /* Comment.Preproc */
.dark .codehilite .cpf { color: #959077 } /* Comment.PreprocFile */
.dark .codehilite .c1 { color: #959077 } /* Comment.Single */
.dark .codehilite .cs { color: #959077 } /* Comment.Special */
.dark .codehilite .gd { color: #FF4689 } /* Generic.Deleted */
.dark .codehilite .ge { color: #F8F8F2; font-style: italic } /* Generic.Emph */
.dark .codehilite .ges { color: #F8F8F2; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.dark .codehilite .gr { color: #F8F8F2 } /* Generic.Error */
.dark .codehilite .gh { color: #F8F8F2 } /* Generic.Heading */
.dark .codehilite .gi { color: #A6E22E } /* Generic.Inserted */
.dark .codehilite .go { color: #66D9EF } /* Generic.Output */
.dark .codehilite .gp { color: #FF4689; font-weight: bold } /* Generic.Prompt */
.dark .codehilite .gs { color: #F8F8F2; font-weight: bold } /* Generic.Strong */
.dark .codehilite .gu { color: #959077 } /* Generic.Subheading */
.dark .codehilite .gt { color: #F8F8F2 } /* Generic.Traceback */
.dark .codehilite .kc { color: #66D9EF } /* Keyword.Constant */
.dark .codehilite .kd { color: #66D9EF } /* Keyword.Declaration */
.dark .codehilite .kn { color: #FF4689 } /* Keyword.Namespace */
.dark .codehilite .kp { color: #66D9EF } /* Keyword.Pseudo */
.dark .codehilite .kr { color: #66D9EF } /* Keyword.Reserved */
.dark .codehilite .kt { color: #66D9EF } /* Keyword.Type */
.dark .codehilite .ld { color: #E6DB74 } /* Literal.Date */
.dark .codehilite .m { color: #AE81FF } /* Literal.Number */
.dark .codehilite .s { color: #E6DB74 } /* Literal.String */
.dark .codehilite .na { color: #A6E22E } /* Name.Attribute */
.dark .codehilite .nb { color: #F8F8F2 } /* Name.Builtin */
.dark .codehilite .nc { color: #A6E22E } /* Name.Class */
.dark .codehilite .no { color: #66D9EF } /* Name.Constant */
.dark .codehilite .nd { color: #A6E22E } /* Name.Decorator */
.dark .codehilite .ni { color: #F8F8F2 } /* Name.Entity */
.dark .codehilite .ne { color: #A6E22E } /* Name.Exception */
.dark .codehilite .nf { color: #A6E22E } /* Name.Function */
.dark .codehilite .nl { color: #F8F8F2 } /* Name.Label */
.dark .codehilite .nn { color: #F8F8F2 } /* Name.Namespace */
.dark .codehilite .nx { color: #A6E22E } /* Name.Other */
.dark .codehilite .py { color: #F8F8F2 } /* Name.Property */
.dark .codehilite .nt { color: #FF4689 } /* Name.Tag */
.dark .codehilite .nv { color: #F8F8F2 } /* Name.Variable */
.dark .codehilite .ow { color: #FF4689 } /* Operator.Word */
.dark .codehilite .pm { color: #F8F8F2 } /* Punctuation.Marker */
.dark .codehilite .w { color: #F8F8F2 } /* Text.Whitespace */
.dark .codehilite .mb { color: #AE81FF } /* Literal.Number.Bin */
.dark .codehilite .mf { color: #AE81FF } /* Literal.Number.Float */
.dark .codehilite .mh { color: #AE81FF } /* Literal.Number.Hex */
.dark .codehilite .mi { color: #AE81FF } /* Literal.Number.Integer */
.dark .codehilite .mo { color: #AE81FF } /* Literal.Number.Oct */
.dark .codehilite .sa { color: #E6DB74 } /* Literal.String.Affix */
.dark .codehilite .sb { color: #E6DB74 } /* Literal.String.Backtick */
.dark .codehilite .sc { color: #E6DB74 } /* Literal.String.Char */
.dark .codehilite .dl { color: #E6DB74 } /* Literal.String.Delimiter */
.dark .codehilite .sd { color: #E6DB74 } /* Literal.String.Doc */
.dark .codehilite .s2 { color: #E6DB74 } /* Literal.String.Double */
.dark .codehilite .se { color: #AE81FF } /* Literal.String.Escape */
.dark .codehilite .sh { color: #E6DB74 } /* Literal.String.Heredoc */
.dark .codehilite .si { color: #E6DB74 } /* Literal.String.Interpol */
.dark .codehilite .sx { color: #E6DB74 } /* Literal.String.Other */
.dark .codehilite .sr { color: #E6DB74 } /* Literal.String.Regex */
.dark .codehilite .s1 { color: #E6DB74 } /* Literal.String.Single */
.dark .codehilite .ss { color: #E6DB74 } /* Literal.String.Symbol */
.dark .codehilite .bp { color: #F8F8F2 } /* Name.Builtin.Pseudo */
.dark .codehilite .fm { color: #A6E22E } /* Name.Function.Magic */
.dark .codehilite .vc { color: #F8F8F2 } /* Name.Variable.Class */
.dark .codehilite .vg { color: #F8F8F2 } /* Name.Variable.Global */
.dark .codehilite .vi { color: #F8F8F2 } /* Name.Variable.Instance */
.dark .codehilite .vm { color: #F8F8F2 } /* Name.Variable.Magic */
.dark .codehilite .il { color: #AE81FF } /* Literal.Number.Integer.Long */


/* Layout Overrides */
.prose .codehilite {
    border-radius: 0.375rem;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    overflow-x: auto;
}

.prose .codehilite pre {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 1em;
    border-radius: 0;
}

/* Ensure text color is inherited in light mode if not set by pygments (friendly usually relies on default) */
.codehilite pre {
    color: inherit;
}

/* Force light text in dark mode for the pre if not caught by .dark .codehilite */
.dark .codehilite pre {
    color: inherit; /* Should inherit from .dark .codehilite { color: #F8F8F2 } */
}

.prose p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
