/* Override Tailwind Typography (prose) styles for code blocks */
.prose .codehilite {
    background: #272822; /* Monokai background */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    overflow-x: auto;

.prose .codehilite pre {
    background-color: transparent !important;
    color: #F8F8F2 !important;
    margin: 0 !important;
    padding: 1em;
    border-radius: 0;
}

.prose p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Pygments Monokai Syntax Highlighting */
.codehilite .hll { background-color: #49483e }
.codehilite .c { color: #75715e } /* Comment - Fixed contrast */
.codehilite .err { color: #960050; background-color: #1e0010 } /* Error */
.codehilite .esc { color: #F8F8F2 } /* Escape */
.codehilite .g { color: #F8F8F2 } /* Generic */
.codehilite .k { color: #66D9EF } /* Keyword */
.codehilite .l { color: #AE81FF } /* Literal */
.codehilite .n { color: #F8F8F2 } /* Name */
.codehilite .o { color: #FF4689 } /* Operator */
.codehilite .x { color: #F8F8F2 } /* Other */
.codehilite .p { color: #F8F8F2 } /* Punctuation */
.codehilite .ch { color: #959077 } /* Comment.Hashbang */
.codehilite .cm { color: #959077 } /* Comment.Multiline */
.codehilite .cp { color: #959077 } /* Comment.Preproc */
.codehilite .cpf { color: #959077 } /* Comment.PreprocFile */
.codehilite .c1 { color: #a83a3a } /* Comment.Single */
.codehilite .cs { color: #959077 } /* Comment.Special */
.codehilite .gd { color: #FF4689 } /* Generic.Deleted */
.codehilite .ge { color: #F8F8F2; font-style: italic } /* Generic.Emph */
.codehilite .ges { color: #F8F8F2; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.codehilite .gr { color: #F8F8F2 } /* Generic.Error */
.codehilite .gh { color: #F8F8F2 } /* Generic.Heading */
.codehilite .gi { color: #A6E22E } /* Generic.Inserted */
.codehilite .go { color: #66D9EF } /* Generic.Output */
.codehilite .gp { color: #FF4689; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { color: #F8F8F2; font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #959077 } /* Generic.Subheading */
.codehilite .gt { color: #F8F8F2 } /* Generic.Traceback */
.codehilite .kc { color: #66D9EF } /* Keyword.Constant */
.codehilite .kd { color: #66D9EF } /* Keyword.Declaration */
.codehilite .kn { color: #FF4689 } /* Keyword.Namespace */
.codehilite .kp { color: #66D9EF } /* Keyword.Pseudo */
.codehilite .kr { color: #66D9EF } /* Keyword.Reserved */
.codehilite .kt { color: #66D9EF } /* Keyword.Type */
.codehilite .ld { color: #E6DB74 } /* Literal.Date */
.codehilite .m { color: #AE81FF } /* Literal.Number */
.codehilite .s { color: #E6DB74 } /* Literal.String */
.codehilite .na { color: #A6E22E } /* Name.Attribute */
.codehilite .nb { color: #F8F8F2 } /* Name.Builtin */
.codehilite .nc { color: #A6E22E } /* Name.Class */
.codehilite .no { color: #66D9EF } /* Name.Constant */
.codehilite .nd { color: #A6E22E } /* Name.Decorator */
.codehilite .ni { color: #F8F8F2 } /* Name.Entity */
.codehilite .ne { color: #A6E22E } /* Name.Exception */
.codehilite .nf { color: #A6E22E } /* Name.Function */
.codehilite .nl { color: #F8F8F2 } /* Name.Label */
.codehilite .nn { color: #F8F8F2 } /* Name.Namespace */
.codehilite .nx { color: #A6E22E } /* Name.Other */
.codehilite .py { color: #F8F8F2 } /* Name.Property */
.codehilite .nt { color: #FF4689 } /* Name.Tag */
.codehilite .nv { color: #F8F8F2 } /* Name.Variable */
.codehilite .ow { color: #FF4689 } /* Operator.Word */
.codehilite .pm { color: #F8F8F2 } /* Punctuation.Marker */
.codehilite .w { color: #F8F8F2 } /* Text.Whitespace */
.codehilite .mb { color: #AE81FF } /* Literal.Number.Bin */
.codehilite .mf { color: #AE81FF } /* Literal.Number.Float */
.codehilite .mh { color: #AE81FF } /* Literal.Number.Hex */
.codehilite .mi { color: #AE81FF } /* Literal.Number.Integer */
.codehilite .mo { color: #AE81FF } /* Literal.Number.Oct */
.codehilite .sa { color: #E6DB74 } /* Literal.String.Affix */
.codehilite .sb { color: #E6DB74 } /* Literal.String.Backtick */
.codehilite .sc { color: #E6DB74 } /* Literal.String.Char */
.codehilite .dl { color: #E6DB74 } /* Literal.String.Delimiter */
.codehilite .sd { color: #E6DB74 } /* Literal.String.Doc */
.codehilite .s2 { color: #E6DB74 } /* Literal.String.Double */
.codehilite .se { color: #AE81FF } /* Literal.String.Escape */
.codehilite .sh { color: #E6DB74 } /* Literal.String.Heredoc */
.codehilite .si { color: #E6DB74 } /* Literal.String.Interpol */
.codehilite .sx { color: #E6DB74 } /* Literal.String.Other */
.codehilite .sr { color: #E6DB74 } /* Literal.String.Regex */
.codehilite .s1 { color: #E6DB74 } /* Literal.String.Single */
.codehilite .ss { color: #E6DB74 } /* Literal.String.Symbol */
.codehilite .bp { color: #F8F8F2 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #A6E22E } /* Name.Function.Magic */
.codehilite .vc { color: #F8F8F2 } /* Name.Variable.Class */
.codehilite .vg { color: #F8F8F2 } /* Name.Variable.Global */
.codehilite .vi { color: #F8F8F2 } /* Name.Variable.Instance */
.codehilite .vm { color: #F8F8F2 } /* Name.Variable.Magic */
.codehilite .il { color: #AE81FF } /* Literal.Number.Integer.Long */